.extra
  .count
    margin-right 10px
.price
  font-weight: 700
  line-height: 24px
  .now
    margin-right: 18px
    font-size 14px
    font-weight bold
    color:rgb(240,20,20)
  .old
    text-decoration line-through
    font-size: 10px
    color: rgb(7,17,27)
.btnWrapper
  position: absolute
  right: 0
  bottom: 0
